{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/event/">Events</a></li>
        <li class="breadcrumb-item active" aria-current="page">Event</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}


<table class="table">
    <tr>
        <th>Id</th>
        <td>{{ event.id }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ event.title }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ event.description }}</td>
    </tr>
    <tr>
        <th>URL</th>
        <td><a href="{{ event.url }}">{{ event.url }}</a></td>
    </tr>
    <tr>
        <th>Start</th>
        <td>{{ event.get_start_strftime() }}</td>
    </tr>

</table>



{% endblock %}

